
.homePageMainBox {
    margin: 0%;
    padding: 0%;
    height: auto;
    width: 100%;
    background-color: #000000;
}

.homePageInteriorNavBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: seagreen;
    padding: 3%;
}

.homePageSlurpingLogo {
    padding: 1%;
}

.homePageSlurpTag {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    padding: 2%;
    margin: 5%;
    width: 82%;
    display: flex;
    justify-content: center;
    border: 2px white dotted;
}

.homePageProductDescription {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: seagreen;
    padding: 2%;
}