
.homePageMainBox {
    margin: 0%;
    padding: .2%;
    height: auto;
    width: 100%;
    background-color: #000000;
    
}

.homePageExteriorNavBar {
    border: 1px orangered dotted;
    width: 95%;
    padding: 1%;
    margin-left: 2%;
}

.homePageInteriorNavBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: seagreen;
    border: 1px yellow dotted;
 
    
}

.homePageSlurpingLogo {
    border: 1px rgb(0, 187, 255) dotted;
    border-radius: 1%;
    width: 82%;
    display: flex;
    justify-content: center;
    margin: 5%;
}

.homePageSlurpTag {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    padding: 2%;
    margin: 5%;
    width: fit-content;
    display: flex;
    justify-content: center;
    border: 2px white dotted;
}

.homePageProductDescription {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: seagreen;
    padding: 2%;
}