
.storePageMainBox {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: .2%;
}

.storePageRamenPhotoBox {
     overflow-x: auto; 
     max-width: 90%;
     margin: 2%;
     padding: 2%;
     border: 1px white dashed;
     border-radius: 1%;
     display: inline-flex;
     width: 92%;
}

.storePageBuyNoodles {
    width: 100%;
    display: flex;
    justify-content: center;
}

.storePageRamenImage {
    margin: 1%;
    padding: 1%;
}

.ramenButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.storePageVenmoButtonBox {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.storePageBoxTitles {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: seagreen;
    margin-left: 3%;
}