
.footerMainBox {
    background-color: black;
    position: fixed;
    bottom: 0%;
    border: 1px seagreen solid;
    width: 95%;
    display: inline-flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
    font-family: 'Courier New', Courier, monospace;
}