
.footerMainBox {
    background-color: black;
    position: fixed;
    bottom: 0%;
    border: 1px seagreen solid;
    width: 95%;
    display: inline-flex;
    justify-content: space-between;
    margin-left: 1%;
    font-family: 'Courier New', Courier, monospace;
    color: seagreen;
}

.footerParagraphBoxes {
    border-left: 1px seagreen dashed;
    border-right: 1px seagreen dashed;
}